# =========================
# Python
# =========================
.venv/
__pycache__/
*.pyc

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/

# =========================
# Data
# =========================
data/raw/
data/processed/

# =========================
# Trained Models
# =========================
models/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Environment / Secrets
# =========================
.env

# =========================
# OS
# =========================
.DS_Store
Thumbs.db